html{
    background-color:green;
}

.exp
{
    background-color:yellow;
    padding-left: 0.2vw;
    padding-right:0.2vw;
    text-shadow: 2px;
}
h3.exp
{
    color: red;
}
li.exp{
    color:orange;
}