html{
    background-color:green;
}

.exp
{
    background-color:yellow;
    margin-left: 0.4vw;
    margin-right:0.4vw;
    text-shadow: 2px;
}
.exp h3
{
    color: red;
}
.exp li 
{
    color:orange;
}